{% extends "base.html" %}
{% block content %}

<h1 style="text-align:center">Bienvenue dans la BDthèque</h1>
<br>

<div class="series-grid">
    {% for serie, tomes in series.items %}
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">{{ serie }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">On a {{ tomes|length }} albums.</h6>
          <a href="{% url 'serie' serie %}" class="btn btn-outline-primary rounded-pill px-4">
            Voir les albums
          </a>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}