{% extends "base.html" %}
{% block content %}

<h1 style = "text-align: center;">Albums de la série "{{ serie }}"</h1>

{% if tomes %}
	<p  style = "text-align: center;">{{ tomes|length|add:"-1" }} albums</p>
    <div class="tomes-grid">
    {% for i in tomes_range %}
      <div class="tome {% if i in tomes %}active{% endif %}" data-num="{{ i }}" style="text-align:center">
        {{ i }}
      </div>
    {% endfor %}
  </div>

  <br>

  <center>
    <a href="{% url 'home' %}" class="btn btn-outline-primary rounded-pill px-4">
      retourner à l'accueil
    </a>
  </center>

  <script>
    document.querySelectorAll('.tome').forEach(btn => {
      btn.addEventListener('click', async () => {
        const num = btn.dataset.num;
        btn.classList.toggle('active');
        await fetch(`/bdtheque/toggle_tome/{{ serie }}/${num}`, {
          method: 'POST',
          headers: { 'X-CSRFToken': '{{ csrf_token }}' }
        });
      });
    });
  </script>

{% else %}
	<p>Aucun album trouvé pour cette série.</p>
{% endif %}

{% endblock %}